@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 306 64% 98%;
      --foreground: 306 60% 3%;
      --muted: 306 12% 86%;
      --muted-foreground: 306 15% 40%;
      --popover: 306 64% 97%;
      --popover-foreground: 306 60% 2%;
      --card: 306 64% 97%;
      --card-foreground: 306 60% 2%;
      --border: 306 12% 93%;
      --input: 306 12% 93%;
      --primary: 306 21% 35%;
      --primary-foreground: 306 21% 95%;
      --secondary: 306 7% 85%;
      --secondary-foreground: 306 7% 25%;
      --accent: 306 7% 85%;
      --accent-foreground: 306 7% 25%;
      --destructive: 2 98% 37%;
      --destructive-foreground: 2 98% 97%;
      --ring: 306 21% 35%;
      --chart-1: 306 21% 35%;
      --chart-2: 306 7% 85%;
      --chart-3: 306 7% 85%;
      --chart-4: 306 7% 88%;
      --chart-5: 306 24% 35%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 306 57% 2%;
      --foreground: 306 23% 100%;
      --muted: 306 12% 14%;
      --muted-foreground: 306 15% 60%;
      --popover: 306 57% 3%;
      --popover-foreground: 0 0% 100%;
      --card: 306 57% 3%;
      --card-foreground: 0 0% 100%;
      --border: 306 12% 13%;
      --input: 306 12% 13%;
      --primary: 306 21% 35%;
      --primary-foreground: 306 21% 95%;
      --secondary: 306 7% 15%;
      --secondary-foreground: 306 7% 75%;
      --accent: 306 7% 15%;
      --accent-foreground: 306 7% 75%;
      --destructive: 2 98% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 306 21% 35%;
      --chart-1: 306 21% 35%;
      --chart-2: 306 7% 15%;
      --chart-3: 306 7% 15%;
      --chart-4: 306 7% 18%;
      --chart-5: 306 24% 35%;
    }
  }
  